.sidebar {
  --side-bar-hover-backgr-clr: .efefef;
  --side-bar-item-active: .d6e3fb;
  --text-clr-sidebar: #fff;
  /*
  width và height bao gồm cả padding và border.
Nội dung sẽ co lại nếu có padding.*/
  box-sizing: border-box;
  height: 100vh;
  width: 240px;
  padding: 5px 0.4em;
  /* border-right: 1px solid var(--line-clr); */

  position: sticky;
  top: 0;
  align-self: start;
  text-wrap: nowrap;
  overflow: hidden;

  background: #6faede;
  background: radial-gradient(
    circle,
    rgba(111, 174, 222, 1) 0%,
    rgba(61, 104, 219, 1) 50%,
    rgba(73, 130, 204, 1) 100%
  );

  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.sidebar ul {
  list-style: none;
}

.shop-menu > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  .logo {
    font-weight: 600;
    margin-right: auto;
  }
}

.sidebar ul li {
  margin: 5px 0;
}

.sidebar ul li.active a {
  color: var(--accent-clr);
}

.sidebar a,
.sidebar .dropdown-btn,
.sidebar .logo {
  text-decoration: none;
  display: flex;
  gap: 1em;
  padding: 0.4rem 0.2rem 0.4em 0.8rem;
  align-items: center;
  border-radius: 0.5em;
  color: var(--text-clr-sidebar);
  white-space: nowrap;
}

.dropdown-btn {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.sidebar a span,
.sidebar .dropdown-btn span,
.sidebar i {
  flex-grow: 1;
  font-size: 14px;
  color: #fff;
}

.sidebar a:hover,
.sidebar .dropdown-btn:hover {
  i,
  span {
    color: var(--hover-sidebar-clr);
  }
  color: var(--hover-sidebar-clr) !important;
  /* background-color: .efefef; */
}

.sidebar .sub-menu {
  overflow: hidden;
}

.sidebar .sub-menu a {
  padding-left: 1.8em;
  margin: 5px 0;
  font-size: 14px;
}

.toggle-btn:hover {
  background-color: var(--hover-clr);
  /* color: var(--side-bar-item-active) !important; */
}

.active {
  background-color: var(--side-bar-item-active);
  font-weight: 600;
}

.parent-active {
  i,
  span {
    color: var(--hover-sidebar-clr);
  }
  /* fill: var(--hover-sidebar-clr) !important; */
  font-weight: 600;
}

.shop-menu {
  height: calc(100vh - 70px);
}

.account-menu {
  border-top: 1px solid var(--text-clr-sidebar);
}

#toggle-btn {
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;
  padding: 1.1em;
  color: var(--text-clr-sidebar);
}

.skeletonItem {
  height: 36px;
  background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 37%, #2a2a2a 63%);
  background-size: 400% 100%;
  animation: shimmer 1.2s infinite;
  border-radius: 6px;
  margin-bottom: 8px;
}
