nav {
  box-sizing: border-box;
  /* border-bottom: 1px solid var(--line-clr); */
  height: var(--nav-height);
  padding-right: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 250px;
  display: flex;
  justify-content: space-between;
}

#nav-bar .topNavBar {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
  align-items: center;
}
#nav-bar i {
  color: #b8b8b8;
}

#nav-bar .navItem:first-child {
  margin-right: auto;
}

#nav-bar .navItem {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
#nav-bar .navItem:hover {
  background-color: var(--hover-icon);
}

#nav-bar .navItem section,
#nav-bar .navItem #toggle-btn {
  display: flex;
  align-items: center;
  height: 100%;
  margin: auto;
  width: 40px;
  text-decoration: none;
  color: var(--base-clr);
}

#nav-bar a {
  width: 100%;
  height: 100%;
}

#nav-bar .navItem span {
  /* margin: auto; */
}

#nav-bar .avartar {
  width: 100%;
  height: auto;
}

.notification {
  position: relative;
  /* display: flex; */
}

.noti-bage {
  color: white;
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  font-size: 12px;
  position: absolute;
  top: -7px;
  left: 10px;
  z-index: 1;
}

.breadcrumb {
  /* position: sticky;
  top: 0; */
  display: flex;
  /* margin-bottom: 10px; */
  z-index: 200;
}

.breadcrumb-title {
  display: flex;
  align-items: center;
  div {
    margin-right: 10px;
  }
  font-size: 20px;
  border-right: 1px solid #ced3da;
  padding-right: 20px;
}

.breadcrumb-child {
  padding-left: 15px;
}

.user-info > a {
  position: relative;
}

.userMenu {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 99;
  /* background-color: var(--bgc-write); */
  background-color: #cb4141;
  display: block;
  list-style: none;
  padding: 10px;
  border-radius: 6px;
}

.userMenu a {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: 10px;
}

.userMenu li {
  font-size: 14px;
}
