main {
  margin-top: 48px;
  width: 100%;
  background-color: #eaecf0;
  border-radius: 10px 10px 0 0;
}
main p {
  color: var(--secondary-text-clr);
  margin-bottom: 15px;
}

section {
  /* overflow: hidden; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-content {
  flex: 1;
}

.header-content {
  padding: 5px;
  border-radius: 5px;
}
.container {
  /* margin-bottom: 20px; */
  /*Phần đệm (padding) sẽ được tính bằng giá trị nhỏ hơn giữa 1rem và 15% của chiều rộng phần tử chứa (container).*/
  /* padding: min(0.5em, 15%); */
  padding: 1rem 1rem 0.5rem 1rem;
  /* display: grid;
  grid-template-rows: auto 1fr; */
  height: 100%;
}
