.drop-image {
  width: 100%;
  min-height: 200px;
  /* border: 2px dashed rgb(192, 192, 192); */
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  padding: 1rem;
  margin: auto;
  background-color: var(--bgc-write);
}

.drop-box {
  height: 40px;
  margin-bottom: 6px;
  cursor: pointer;
}

.drop-image__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-image__list-image {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.drop-image__item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: var(--border-radius-tag);
  width: 180px;
  height: 100%;
  position: relative;
}

.drop-image__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.drop-image__image {
  padding: 0.6rem;
  width: 180px;
  height: 170px;
}

.drop-image_item-prop {
  border-top: 1px solid rgb(210, 210, 210);
  padding: 0.3rem 0.6rem;
}
.drop-image_item-prop p {
  font-size: 0.8rem !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

/* .drop-image_item-action { 
  border-top: 1px solid rgb(210, 210, 210);
} */

.drop-image_item-action button {
  padding: 2px;
  /* width: 100%; */
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 4px;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-image_item-action button:hover {
  background-color: rgb(214, 214, 214);
}
