.button {
  --success-clr: #73dc8a;
  --warning-clr: #ffecb3;
  --error-clr: #ffe6e8;
  --info-clr: #d0e6ff;
  --bule-clr: #6dccff;
  --dark-clr: #9e9e9e;
  --default-clr: #424242;
  padding: 6px 18px;
  font-size: 14px;
  border-radius: 6px;
  background: none;
  background-color: #fff;
  cursor: pointer;
  letter-spacing: 0.4px;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  gap: 6px;
}

.button:disabled,
.button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.button.small {
  padding: 5px 6px;
  font-size: 12px;
}

.button-text {
  position: relative;
  /* line-height: 14px; */
}

.button .btn-icon {
  margin-right: 5px;
}
.button.default {
  border: 1px solid var(--default-clr);
  &:hover {
    background-color: var(--default-clr);
  }
}

.button.success {
  border: 1px solid var(--success-clr);
  color: var(--success-clr);
  &:hover {
    background-color: var(--success-clr);
  }
}

.button.error {
  border: 1px solid var(--error-clr);
  &:hover {
    background-color: var(--error-clr);
  }
}

.button.warning {
  border: 1px solid var(--warning-clr);

  &:hover {
    background-color: var(--warning-clr);
  }
}

.button.info {
  border: 1px solid var(--info-clr);
  &:hover {
    background-color: var(--info-clr);
  }
}

.button.primary {
  border: 1px solid var(--bule-clr);

  &:hover {
    background-color: var(--bule-clr);
  }
}

.button.dark {
  border: 1px solid var(--dark-clr);
  &:hover {
    background-color: var(--dark-clr);
  }
}
