.box {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  gap: 10px;
}

.actionBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  border-radius: 6px;
  border: solid 1px #dbdbdb;
}

.actionRow {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  background-color: unset;
  cursor: pointer;
  border: none;
  /* color: #ffffff; */
  /* margin: aut; */
}
