.actionRow {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  background-color: unset;
  cursor: pointer;
  border: none;
  /* color: #ffffff; */
  /* margin: aut; */
}
