.box {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  gap: 10px;
}

.actionBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  border-radius: 6px;
  border: solid 1px #dbdbdb;
}

.roomForm {
  padding: 10px;
  width: 100%;
  height: fit-content;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.inputField {
  margin-bottom: 10px;
}
.halfField {
  display: flex;
  width: 100%;
  gap: 14px;
}

.baseInfo {
  height: 100%;
}
