:root {
  /* font-family: Roboto, sans-serif; */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5rem;

  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #f2f9ff;
  --hover-icon: #f5f5f5;
  --text-clr: #1a1a1f;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  --active-clr: #f2f9ff;
  --active-font-clr: #4baeff;

  --border-clr: rgb(227, 227, 227);
  --border-hover-blue: rgb(143, 206, 230);
  --box-shadow-focus-blue: 0px 0px 0 2px rgba(0, 123, 255, 0.3);
  --bgc-write: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

button {
  color: rgb(96, 96, 96);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(74, 74, 74);
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-columns: auto 1fr;
}

/* .fa-light,
.fal {
  width: 24px;
  display: block;
} */

@media (max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
  main {
    padding: 2em 1em 60px 1em;
  }
  .container {
    border: none;
    padding: 0;
  }
}
