.popover-container {
  position: relative;
  display: inline-block;
}

.popover-trigger {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.popover-content {
  position: absolute;
  top: 100%;
  left: 100%;
  transform-origin: top right;
  /* opacity: 0;
  transform: translateX(-50%) scale(0.9) translateY(-10px); */
  /* transform: translateX(-50%); */
  margin-top: 10px;
  background-color: white;
  /* border: 1px solid #ccc; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* padding: 15px; */
  z-index: 1000;
  white-space: nowrap;
  width: max-content;
  min-width: fit-content;
  display: inline-block;
}

/* .popover-content.show {
  opacity: 1;
  transform: translateX(-50%) scale(1) translateY(0);
} */
