.iconBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
}

.iconItem {
  /* border: solid 1px #d2d2d2; */
  border-radius: 6px;
  padding: 10px;
  /* height: 120px; */
  /* cursor: pointer; */
  min-height: 216px;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: box-shadow 0.3s ease-in-out;
}

.iconItem.createCard {
  cursor: pointer;
}

.iconItem:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.iconHeader {
  display: flex;
  /* gap: 16px; */
  justify-content: space-between;
  align-items: center;
}

.iconDescription {
  font-size: 0.8rem;
  margin: 10px 0;
  min-height: 24px;
}

.iconInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.infoInfoBox {
  background-color: #ededed;
  min-height: 40px;
  border-radius: 6px;
  padding: 3px 6px;
}

.colorBox {
  width: 15px;
  height: 15px;
  border-radius: 4px;
}

.infoInfoBox span {
  font-size: 0.8rem;
}

.status {
  padding: 1px 8px;
  border-radius: 6px;
  width: fit-content;
  &.active {
    background-color: #b6ecd4;
  }
  &.stop {
    background-color: #ffacac;
  }
}

/* .status.active {
}

.status */

.statusText {
  color: #073e1b;
  &.activeText {
    color: #00733f;
  }
  &.stopText {
    color: #ff1f1f;
  }
}

.createBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
