#tab-custom {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  /* padding: 0.5rem; */
  gap: var(--space-md);
}

.tab-custom__header {
  margin-bottom: var(--space-md);
}

.tab-custom__header {
  display: flex;
  justify-content: start;
  gap: var(--space-2xs);
  border-bottom: 1px solid var(--color-border);
}

.tab-custom__header-item {
  list-style: none;
}

.tab-custom__header-button {
  /* font-size: 0rem; */
  padding: var(--space-xs) var(--space-lg);
  background-color: transparent;
  font-size: var(--text-md);
  font-weight: var(--weight-medium);
  border: 0;
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: color var(--duration-fast) var(--ease-out);
}

.tab-custom__header-button:hover,
.tab-custom__header-button:hover * {
  color: var(--color-secondary);
}

.tab-custom__header-button--focused,
.tab-custom__header-button--focused * {
  color: var(--color-primary);
  font-weight: var(--weight-semibold);
}

.tab-custom__active-tab-indicator {
  border: 1.5px solid var(--color-primary);
  border-radius: var(--radius-md);
}

.tab-custom__tab-content-item {
  height: 100%;
}
.tab-custom__tab-content-item.hide {
  display: none;
}
